services:
  pgbackups3-outline:
    image: harbor.sslane/home-automation/pgbackups3:2.0.0
    restart: unless-stopped
    env_file:
      - .env_pgbackups3
    environment:
      SCHEDULE: '@daily'
      POSTGRES_DATABASE: outline
      S3_PREFIX: outline
      POSTGRES_EXTRA_OPTS: '--schema=public --blobs'

  pgbackups3-umami:
    image: harbor.sslane/home-automation/pgbackups3:2.0.0
    restart: unless-stopped
    env_file:
      - .env_pgbackups3
    environment:
      SCHEDULE: '@daily'
      POSTGRES_DATABASE: umami
      S3_PREFIX: umami
      POSTGRES_EXTRA_OPTS: '--schema=public --blobs'

  pgbackups3-shlink:
    image: harbor.sslane/home-automation/pgbackups3:2.0.0
    restart: unless-stopped
    env_file:
      - .env_pgbackups3
    environment:
      SCHEDULE: '@daily'
      POSTGRES_DATABASE: shlink
      S3_PREFIX: shlink
      POSTGRES_EXTRA_OPTS: '--schema=public --blobs'

  pgbackups3-bitwarden:
    image: harbor.sslane/home-automation/pgbackups3:2.0.0
    restart: unless-stopped
    env_file:
      - .env_pgbackups3
    environment:
      SCHEDULE: '@daily'
      POSTGRES_DATABASE: bitwarden
      S3_PREFIX: bitwarden
      POSTGRES_EXTRA_OPTS: '--schema=public --blobs'
